# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

drawing-primitives
!drawing-primitives/
sine-wave
!sine-wave/
animating-text
!animating-text/
sound-check
!sound-check/
sound-player
!sound-player/
moving-image
!moving-image/
image-tile
!image-tile/
moving-text
!moving-text/
mouse-events
!mouse-events/
clickables
!clickables/
boilerplate
!boilerplate/
text-view
!text-view/
